/* .container-fluid {
    height: 60px;
} */

.img-fluid {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

footer a{
    /* margin-top: 3rem; */
    text-decoration: none;
    /* color: ; */
}